PORT=5000
MONGO_URI=mongodb+srv://shubhamruhela47_db_user:shubham3333@cluster0ne.hzcexcv.mongodb.net/shopnext?retryWrites=true&w=majority
JWT_SECRET=mysecretkeysdfghjkxdfghjkdfghjklfghj


EMAIL_USER=nexts43567hop9186@gmail.com
EMAIL_PASS=ewhj szjw g45678lhi wnpo



CLOUDINARY_CLOUD_NAME=dmscogak8
CLOUDINARY_API_KEY=1234567456865432
CLOUDINARY_API_SECRET=hNVY5aAHsOaqTs5slkjhgfdty